

<p>{{numero | numeroElevado: 3 }}</p>



    <p>{{ birthday | date: 'shortTime' }}</p>
    <p>{{ birthday | date: 'fullDate' }}</p>
    <p>{{ birthday | date: 'd/M/y' }}</p>




<br/>
{{ name | uppercase }}
<br/>
{{ lastName | lowercase }}
<br/>
{{ avanceCurso | percent }}
<br/>
{{ valorCurso | currency }}

<br/>
{{ year | number }}

<br/>
{{ lastName | titlecase }}

<br/>
<ul>
  <li *ngFor='let curso of cursos |slice:1:3' >{{curso}}</li>
</ul>


<app-nuevo-cursos (open)="test($event)" ></app-nuevo-cursos>

